

<h2 style="margin-top: 20px;"></h2>
<div class="bg-Img1">
    <div class="caption">
        <span class="border shadow-sm">THE SALON SOLUTION</span>
    </div>
</div>

<center><h2 style="margin-bottom:25px;margin-top:25px; font-family:'Dancing Script', cursive;">Hairdressing Services</h2></center>

<div class="container">
    <div class="modal-body row">
        <div class="col-md-6">
            <h2 style="font-family:'Dancing Script', cursive;">Best in the Business</h2>
            <br />
            <p style="font-family:'Montserrat', sans-serif; line-height: 1.6;">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/Content/adult-beach-beautiful-415484.jpg" class="float-right" style="height:300px;" />
        </div>
    </div>
</div>

<div class="bg-Img2">
    <div class="caption">
        <span class="border">MEET THE STYLISTS</span>
    </div>
</div>

<div class="row" style="margin-top:25px; margin-bottom:25px;">
    <div class="col-lg-4 col-md-6">
        <div>
            <a href="#" target="_blank">
                <img src="~/Content/beautiful-beauty-blouse-1036623.jpg" alt="#" class="landing_img_circle overlay">
            </a>
            <p class="align-middle;" style="text-align:center; padding-top: 10px;">Penlope Thomas</p>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div>
            <a href="#" target="_blank">
                <img src="~/Content/beauty-casual-curly-794064.jpg" alt="#" class="landing_img_circle overlay">
            </a>
            <p style="text-align:center; padding-top: 10px;">Rhonda Jones</p>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div>
            <a href="#" target="_blank">
                <img src="~/Content/beautiful-beauty-blouse-1036623.jpg" alt="#" class="landing_img_circle overlay">
            </a>
            <p style="text-align:center; padding-top: 10px;">Emily Jordans</p>
        </div>
    </div>
</div>

<div class="bg-Img3">

    <p class="parallax-text"><a href="http://localhost:62014/Appointments/Create" class="btn btn-primary btn-lg">Schedule Appointment &raquo;</a></p>

</div>
