

<h2 style="margin-top: 20px;"></h2>
<div class="bg-Img1">
    <div class="caption">
        <span class="border shadow-sm">THE SALON SOLUTION</span>
    </div>
</div>

<center><h4 class="title_styling">OUR SERVICES</h4></center>

<div class="container">
    <div class="modal-body row">
        <div class="col-md-6">
            <h3 style="font-family:'Dancing Script', cursive;">Best in the Business</h3>
            <br />
            <p style="font-family:'Montserrat', sans-serif; line-height: 1.6;">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/Content/shutterstock_144022057.jpg" class="float-right" style="height:300px;" />
        </div>
    </div>
</div>

@*<div class="bg-Img2">
        <div class="caption">
            <span class="border shadow-sm">MEET THE STYLISTS</span>
        </div>
    </div>*@

<hr />

<center><h4 class="title_styling">MEET THE TEAM</h4></center>

<div class="row mx-auto" style="margin-top:25px; margin-bottom:25px;">

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive img-thumbnail border-0" src="~/Content/shutterstock_485071654.jpg" alt="" style="object-position: 70% 50%;">
            <div class="overlay">
                <h2>Amber</h2>
                <p>
                    Amber is one of the three good friends, who decided to take teh chance and open the best hairdressing salon in the entire city!
                    @*<a href="#">LINK HERE</a>*@
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive img-thumbnail border-0" src="~/Content/shutterstock_670969639.jpg" alt="" style="object-position: 20% 50%;">
            <div class="overlay">
                <h2>Trisha</h2>
                <p>
                    Trisha is a vital part of our team, as she’s the youngest and most up-to-date, vibrant hair stylist among us. She’s the heart and soul of our salon.
                    @*<a href="#">LINK HERE</a>*@
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect frame_square center">
            <img class="img-responsive img-thumbnail border-0" src="~/Content/shutterstock_639921919.jpg" alt="" style="object-position: 65% 50%;">
            <div class="overlay">
                <h2>Angela</h2>
                <p>
                    While her main work focus is children’s haircuts, Angela is good basically at anything she does. Just ask her returning clients!
                    @*<a href="#">LINK HERE</a>*@
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive img-thumbnail border-0" src="~/Content/shutterstock_1033157947.jpg" alt="" style="object-position: 35% 50%;">
            <div class="overlay">
                <h2>Becky</h2>
                <p>
                    One of our co-founders, Becky is the most creative of our stylists’ team. Besides hair styling and coloring, she also makes hair extensions.
                    @*<a href="#">LINK HERE</a>*@
                </p>
            </div>
        </div>
    </div>
</div>

<hr />

<center><h4 class="title_styling">WHAT OUR <strong>CUSTOMERS</strong> HAVE TO SAY</h4></center>

<div class="row d-block mx-auto">
        <div>
            <img src="~/Content/shutterstock_220564633.jpg" alt="#" class="landing_img_circle">
            <h1 class="review_text" style="padding-top:10px;"><i class="fa fa-quote-left"></i></h1>
            <p class="align-middle review_text" style="padding-top: 5px; font-size:16px;">
                I’ve been a customer of this same hairdressing salon since I moved to here.<br />The main stylists didn’t change and they’re still just as good as a few years back. <br />God only knows, how many great things these ladies did to my hair over the years…
              <h1 class="review_text" style="padding-top:5px;"><i class="fa fa-quote-right"></i></h1>
            </p>
            <h4 class="align-middle review_text" style="padding-top:10px">- Amy Smith</h4>
        </div>
</div>
<hr />

    <div class="hero-image">

        <p class="parallax-text"><a href="http://localhost:62014/Appointments/Create" class="btn btn-primary btn-lg">Book An Appointment Today! &raquo;</a></p>

    </div>
