@model Capstone_HairSalon.Models.RentTransaction

@{
    ViewBag.Title = "Charge";
}

@using (Html.BeginForm("Index"))
{
    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm Purchase" class="btn btn-default" />
            </div>
        </div>*@

}

<div class="hero-image mx-auto">
    <p class="hero-text"> YOUR RENT HAS BEEN RECEIVED <br>THANK YOU.</p>
</div>