@model Capstone_HairSalon.Models.ServiceTotal

@{
    ViewBag.Title = "Charge";
}

@using (Html.BeginForm("Index"))
{
    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm Purchase" class="btn btn-default" />
            </div>
        </div>*@

}

<div class="hero-image mx-auto"> 
    <p class="hero-text">Thank You For Chosing The Salon Solution! <br>See you soon.</p>
</div>