@model Capstone_HairSalon.Models.ServiceTotal

@{
    ViewBag.Title = "Charge";
}

@using (Html.BeginForm("Index"))
{
    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm Purchase" class="btn btn-default" />
            </div>
        </div>*@

}

<div class="row d-block mx-auto" style="margin-top:90px;">
    <div>
        <h1 class="review_text" style="padding-bottom:40px; font-family:'Roboto Condensed', sans-serif;">THANK YOU!</h1>
        <img src="~/Content/shutterstock_485071654.jpg" alt="#" class="landing_img_circle">
        <p class="align-middle review_text" style="padding-top: 30px; font-family:'Roboto Condensed', sans-serif; font-size:16px; margin-bottom:90px;">See you soon.</p>
    </div>
</div>