
    <title>DHXScheduler initialization sample</title>
    <style>
        body {
            background-color: #eee;
        }
    </style>

<body style="padding-top:60px;">
    <div style="height:600px;width:960px;margin:0 auto">
        @Html.Raw(Model.Render())
    </div>
</body>
