@model Capstone_HairSalon.Models.Appointment

<div class="row d-block mx-auto" style="margin-top:90px;">
    <div>
        <h1 class="review_text" style="padding-bottom:40px; font-family:'Roboto Condensed', sans-serif;">THANK YOU!</h1>
        <img src="~/Content/shutterstock_639921919.jpg" alt="#" class="landing_img_circle">
        <p class="align-middle review_text" style="padding-top: 30px; font-family:'Roboto Condensed', sans-serif; font-size:16px; margin-bottom:90px;">A stylist will be with you shortly.</p>
    </div>
</div>